table {
  margin: auto;
  text-align: center;

}
td#culture {
  font-size: 2em;
  color: orange;
}
td#technical {
  font-size: 2em;
  color: green;
}
h1 {
  font-family: Comic Sans MS;
  color: #AB051B;
  margin: 0 auto 25px;
  text-align: center;
}
a:hover {
  color: red;
  text-decoration: none;
}