body {
background-color: #33B0F3;
font-family: serif;
}

h1 {
  font-family: Comic Sans MS;
  color: #AB051B;
  margin: auto;
  text-align: center;
  border: solid black;
  width: 30%;
}
h2{
  text-decoration: underline;
  width: 50%;
  margin: auto;
  padding: 1em;
  text-align: center;
  font-family: sans-serif;
}
h4 {
  font-family: cursive;
  margin: -1em 0 5px 0;
  color: gold;
}
p {
  color: white;
  font-family: monospace;
}
code {
  background-color: black;
  color: white;
  margin-left: 2em;
}
span {
  color: #00FF09;
}
li {
  color: white;
  font-family: monospace;
}
a {
  color: red;
  font-size: 2em;
}
a:hover {
  color: yellow;
  text-decoration: none;
}

#links {
  font-size: 1em;
}

#code2 {
  background-color: black;
  color: white;
  margin-left: 3em;
}

#code3 {
  background-color: black;
  color: white;
  margin-left: 4em;
}