html{

}
h1{
  text-align: center;
  border: solid black 1pt;
}
section > p{
  border: solid black 1pt;
}

li{
  font-weight: bold;
}
h3{
  color :#4C4C66;
  text-decoration: underline;
}
h4{
  font-weight: normal;
}
#example{
  background-color: #9999CC;
  font-weight: bold;
  font-size: 16;
  padding: 8pt;
  border-radius: 10px;
}