.wrapper {
  width: 960px;
  margin: 0px auto;
}
header {
  background-color: #CAD3CC;
  display: inline-block;
  clear: none;
  width: 960px;
}
side {
  float: right;
  margin: 10px 10px 0 0;

}
middle {
  background-color: #8884FF;
  display: block;
  height: 425px;
  background-image: url("https://scontent-lga.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/10390198_10202121347339746_2048343221924963833_n.jpg?oh=9f401e34e8faf34512388934f34d5283&oe=557E3408");
  background-repeat: repeat-y;
}
bottom {
  background-color: #FFE1AD;
  display: block;
  text-align: center;
}

#name {
  color: white;
  width: 100px;
  height: 100px;
  font-size:60px;
  margin: 0 0 0 300px;
  }
#blog {
  padding: 5px;
}
#about {
  padding: 5px;
}
#projects {
  padding: 5px;
}
div {
  display: inline-block;
}
img.small {
  width: 100px;
  height: 100px;
  display: inline-block;
}
a:hover {
  color: #620b0a;
  text-decoration: none;
}
a {
  color: #013c19;
  font-size: 25px;
}
img.me {
  width: 240px;
  height: 250px;
}
#picture {
  float: right;
}