html {
  height: 100%;
  background-color: yellow;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font: normal 90% Arial, Helvetica, sans-serif;
  color: #000;
}
article, aside, figure, footer, header, hgroup, nav, section {
  display:block;
}
h1, h2, h3, h4, h5, h6 {
  font: normal 175% 'News Cycle', Arial, sans-serif;
  color: #000;
  letter-spacing: -1px;
  margin: 0 0 10px 0;
}
h3 {
  font: normal 400% 'News Cycle', Arial, sans-serif;
  background-color: #605F5F;
  color: white;
}
/* reminder: use # for id, . for class */
/*#options {
   background-color: hsla(hue 0-360, saturation %, lightness %, transparency 0-1);
  background-color: hsla(120, 85%, 90%, .4);
}*/
li {
  display: inline;
  float: right;
  padding: 10px;
  background-color: #D0CCCC;
}
a:hover {
  color: green;
}
a:visited {
  color: green;
}
a:link {
  color: black;
}
#small {
  height: 90px;
  width: 80px;
  padding-top: 10px;
}
#me {
  height: 225px;
  width: 225px;
  display: inline-block;
  text-align: center;
}
footer {
  background-color: blue;
  display: inline;
}
#bottom-nav {
  background-color: orange;
  text-align: center;
  display: inline-block;
  float: left;
  color: red;

}
